<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 panel-left">
      <mat-card>
        <mat-card-content class="card-content">
          <app-tree-view
            *ngIf="treeData"
            [data]="[treeData]"
            (selectedNode)="onSelectedNode($event)"
          ></app-tree-view>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-8 panel-right background-image-portada">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
