<div class="container-fluid">
    <div class="row panel-container">
        <div class="col-md-3 panel-left">
            <mat-form-field>
                <mat-label>Categoría</mat-label>
                <mat-select formControlName="category" placeholder="Seleccione una categoría">
                    <mat-option value="PESNOT">PESNOT</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-9 panel-right">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>