<div class="container">
  <div class="breadcrumb-container">
    <app-breadcrums [breadcrumbItems]="breadcrumbItems"></app-breadcrums>
    <button mat-raised-button color="primary" (click)="openDialog(null)">
      <mat-icon>{{dataFacturacion ? 'edit' : 'add'}}</mat-icon>
      <span>{{dataFacturacion ? 'Editar' : 'Agregar'}}</span>
    </button>
  </div>
  <div class="table-container">
    <app-tabla [displayedColumns]="displayedColumns" [data]="data" [tableParams]="tableParams" [noPaginated]="true"></app-tabla>
  </div>
</div>