<div>
    @for(breadcrumbItem of breadcrumbItems; track $index; let last = $last){
    @if(!last){
    <span *ngIf="breadcrumbItem.active" class="active">{{breadcrumbItem.name}}</span>
    <span *ngIf="!breadcrumbItem.active" [routerLink]="breadcrumbItem.url" style="cursor: pointer">{{breadcrumbItem.name}}</span>
    <span>/</span>
    }@else{
    <span *ngIf="breadcrumbItem.active" class="active">{{breadcrumbItem.name}}</span>
    <span *ngIf="!breadcrumbItem.active" [routerLink]="breadcrumbItem.url" style="cursor: pointer">{{breadcrumbItem.name}}</span>
    }
    }
</div>