<div class="row">
  <div class="col-12">
    <div class="mt-2 mx-2 d-flex align-items-center">
      <mat-form-field appearance="outline" class="flex-grow-1">
        <mat-label>Nombre del participante</mat-label>
        <input matInput placeholder="Busqueda" />
      </mat-form-field>
    </div>
  </div>
  <div class="col-2">
    <button mat-raised-button class="mx-2" color="primary">Buscar</button>
  </div>
  <div class="col-2">
    <button mat-stroked-button class="mx-2" type="button" (click)="onCancel()">Cancelar</button>
  </div>
  <div class="col-8">
    &nbsp;
  </div>
</div>
