<div style="display: flex; justify-content: flex-end; margin-bottom: 8px;">
  <button mat-stroked-button color="primary" (click)="openCreateDialog()">
    Crear
  </button>
</div>

<table mat-table [dataSource]="parametersBillingNotary" class="mat-elevation-z8">
  <ng-container matColumnDef="idParametrosFacturacionNotarias">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button [matMenuTriggerFor]="actionsMenu" aria-label="Acciones" (click)="selectedId = element.idParametrosFacturacionNotarias">
        <mat-icon>more_vert</mat-icon>
      </button>
      </td>
  </ng-container>

  <ng-container matColumnDef="numeroRuc">
    <th mat-header-cell *matHeaderCellDef> Número RUC </th>
    <td mat-cell *matCellDef="let element"> {{element.numeroRuc}} </td>
  </ng-container>

  <ng-container matColumnDef="tipoAmbiente">
    <th mat-header-cell *matHeaderCellDef> Tipo Ambiente </th>
    <td mat-cell *matCellDef="let element"> {{element.tipoAmbiente}} </td>
  </ng-container>

  <ng-container matColumnDef="establecimiento">
    <th mat-header-cell *matHeaderCellDef> Establecimiento </th>
    <td mat-cell *matCellDef="let element"> {{element.establecimiento}} </td>
  </ng-container>

  <ng-container matColumnDef="puntoEmision">
    <th mat-header-cell *matHeaderCellDef> Punto Emisión </th>
    <td mat-cell *matCellDef="let element"> {{element.puntoEmision}} </td>
  </ng-container>

  <ng-container matColumnDef="razonSocial">
    <th mat-header-cell *matHeaderCellDef> Razon Social </th>
    <td mat-cell *matCellDef="let element"> {{element.razonSocial}} </td>
  </ng-container>

  <ng-container matColumnDef="codigoContribuyenteEspecial">
    <th mat-header-cell *matHeaderCellDef> Codigo Contribuyente Especial </th>
    <td mat-cell *matCellDef="let element"> {{element.codigoContribuyenteEspecial}} </td>
  </ng-container>

  <!-- Ajuste: el id de la columna debe coincidir con displayedColumns -->
  <ng-container matColumnDef="obligadoContabilidad">
    <th mat-header-cell *matHeaderCellDef> Obligado Llevar Contabilidad </th>
    <td mat-cell *matCellDef="let element"> {{element.obligadoContabilidad}} </td>
  </ng-container>

  <ng-container matColumnDef="logoEmisor">
    <th mat-header-cell *matHeaderCellDef> Logo </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="onDownloadLogo(element)" matTooltip="Descargar logo" [disabled]="!element.logoEmisor">
        <mat-icon>download</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="nombreLogo">
    <th mat-header-cell *matHeaderCellDef> Nombre Archivo </th>
    <td mat-cell *matCellDef="let element"> {{element.nombreLogo}} </td>
  </ng-container>

  <!-- Definición de filas al final para mayor claridad -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>

</table>

<mat-menu #actionsMenu="matMenu">
  <button mat-menu-item (click)="openEditGeneralParams(selectedId)">
    <mat-icon>edit</mat-icon>
    <span>Editar parámetros</span>
  </button>
  <button mat-menu-item (click)="openEditLogo(selectedId)">
    <mat-icon>image</mat-icon>
    <span>Editar logo</span>
  </button>
  <button mat-menu-item (click)="openEditElectronicSign(selectedId)">
    <mat-icon>edit_note</mat-icon>
    <span>Editar firma electrónica</span>
  </button>
</mat-menu>

