.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 1rem;

  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .participant-field {
      width: 70%;
    }
    .asiste-toggle {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}