.container-fluid {
  padding: 20px;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
}

.full-width {
  width: 100%;
}

.gap-2 {
  gap: 8px;
}

.d-flex {
  display: flex;
}

.justify-content-end {
  justify-content: flex-end;
}

.color-red {
  color: white;
  background-color: #f44336;
}
